.gameTable{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px pink solid;

}
header{text-align: center;}

.card{
border: 2px red solid;
width: 200px;
margin-left: 1.5%;
min-height: 120px;
min-width: 220px;
border-radius: 20px;
text-align: center;
align-items: center;
font-size: 500%;

}
.turns{
    margin-left: 10px;
}
.count{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.start:hover{
    color: red;
}